// General styles
#nav {
  .powered-by {
    display: none;

    & when (@show-powered-by = true) {
      position: absolute;
      right: 50px;
      left: auto;
      top: 50%;
      display: block !important;
    }
  }

  a.logo:first-child {
    background: @logo-css 0 50%;
    height: @logo-height;
    width: @logo-width;
  }
}

#loading-bar-top {
  .bar {
    background: @success-background-color;
  }
}

// Formcorp form
#formcorp-form {
  .reset();

  // Hide the initial state
  display: none;

  .fc-modal {
    display: none;
  }

  // Show the loaded state
  &.fc-form-loaded {
    display: block;

    .fc-modal {
      &::before, &.fc-show {
        display: block;
      }
    }
  }

  p, h1, h2, h3, h4, div.alert {
    margin-bottom: @special-element-margin-bottom;
  }

  p, input[type="checkbox"] + label em, input[type="radio"] + label em {
    line-height: 1.72857143 !important;
  }

  font-family: @font-family;

  /* Page stylings */
  .fc-page {
    & when (@show-stage-title = false) {
      > h1 {
        display: none;
      }
    }

    & when (@show-page-title = false) {
      > h2 {
        display: none;
      }
    }

    & when (@show-section-border = true) {
      .fc-section {
        border: @section-border;
        padding: @section-padding;
      }
    }

    // Page sections
    .fc-section {
      margin: @section-margin;

      // Section ends
      .fc-section-end {
        clear: both;
      }

      > p {
        font-weight: bold;
        margin: @section-desc-margin;
      }

      h4 {
        font-size: @section-title-font-size;
        font-weight: bold;
        text-transform: uppercase;
        border-bottom: @section-title-border-bottom;

        & when (@section-title-font-bold = false) {
          font-weight: normal;
        }
      }

      /* Fields */
      .fc-field {
        margin: @field-margin;

        // 2 columns
        &.two-col {
          width: 48.75%;
          float: left;

          &.first {
            clear: both;
            margin-right: 2.5%;
          }

          &.last {
            & + .fc-field {
              clear: both;
            }
          }
        }

        // Bold labels
        &.bold {
          .fc-fieldcontainer {
            > label {
              font-weight: bold;
            }
          }
        }

        // 3 column layout
        &.three-col {
          width: 33.33333%;
          float: left;

          &.first {
            clear: both;
          }

          &.last {
            & + .fc-field {
              clear: both;
            }
          }

          &.two-thirds {
            width: 66.66666667%;
          }
        }

        /* Rich text area styling */
        &.fc-field-richTextArea {
          margin: @field-rich-text-margin;

          ol {
            margin: 1em 0;
            padding: 0 0 0 40px;
          }

          ol li {
            list-style-type: decimal;
          }
        }

        // Option table
        &.fc-field-optionTable {
          // Ensure the tickbox gets rendered correctly
          .fc-field-element-container {
            padding-right: 20px;
          }

          // Style the table
          .fc-table {
            border-radius: 0;
            width: 100%;

            &:before {
              background: @fc-option-table-header-color;
            }

            th {
              &:before {
                background: @fc-option-table-th-header-color;
              }

              // Bold the header text
              & when (@fc-option-table-th-bold-text = true) {
                font-weight: bold;
              }
              & when (@fc-option-table-th-bold-text = false) {
                font-weight: normal;
              }

              // Convert the header text to uppercase
              & when (@fc-option-table-th-uppercase-text = true) {
                text-transform: uppercase;
              }
              & when (@fc-option-table-th-uppercase-text = false) {
                text-transform: none;
              }
            }

            th, td {
              text-align: center;
            }

            .fc-option-buttons {
              .fc-button {
                width: 100%;
              }
            }
          }
        }

        /* Field label */
        .fc-fieldcontainer {
          & > label {
            font-weight: normal;
            margin: @field-label-padding;

            & > .fc-help-link {
              background: @field-help-background;
              color: @field-help-color;
              padding: @field-help-padding;
              font-size: @field-help-font-size;
              border-radius: @field-help-border-radius;

              & when (@field-help-font-bold = true) {
                font-weight: bold;
              }

              &:hover, :active {
                text-decoration: none;
              }
            }
          }

          .fc-error-text {
            position: absolute;
          }
        }

        /* Field help text */
        .fc-help {
          color: @field-help-color;

          a {
            color: @field-help-link-color;
            text-decoration: underline;
          }
        }

        // E-mail verification
        &.fc-field-emailVerification {
          // In line verification
          .fc-verify-inline {
            .fc-verify-email-input-code {
              float: left;
              width: @email-verification-box-inline-width;
              margin-right: @email-verification-separator-width;
            }

            .fc-btn {
              background: @success-background-color;
              color: @success-font-color;
            }

            .fc-verify-email-button, .fc-send-email {
              float: left;
              margin: 0 @email-verification-separator-width 0 0;
            }

            .fc-loading {
              display: none;
            }

            &.loading {
              input[type="text"] {
                background: url(images/ball-triangle.svg) no-repeat right 12px top 8px;
              }
            }

            &.error {
              input[type="text"] {
                border: 1px solid @error-background-color;
              }
            }
          }
        }

        // Style buttons
        .fc-btn {
          border-radius: 0;
          padding: @button-padding;
        }

        /* Content radio list styling */
        &.fc-field-contentRadioList,
        &.fc-field-greenIdVerification {
          .fc-content-radio-item {
            .fc-content-icon {
              margin: @content-radio-list-icon-margin;

              i.fa {
                font-size: @content-radio-list-icon-size;
              }
            }

            .fc-button {
              margin-right: 0;
            }
          }

          /* 3 column layout */
          .fc-col-3 {
            .fc-content-radio-item {
              margin-right: 2%;
            }
          }

          .fc-col-4 {
            .fc-content-radio-item {
              margin-right: 2%;
            }
          }
        }

        // Content radio list specific stylings
        &.fc-field-contentRadioList {
          .fc-content-radio-item {
            margin-bottom: @fc-content-radio-list-margin-bottom;

            .fc-content-title {
              background: @content-radio-list-background;
              color: @content-radio-list-color;
              border-radius: 0;
            }
          }
        }

        // Style greenID verification
        &.fc-field-greenIdVerification,
        &.fc-field-contentRadioList {
          .fc-greenid-successfully-verified {
            color: @success-background-color;
          }

          &.fc-is-verified {
            .fc-greenid-options {
              display: none;
            }
          }

          .fc-col {
            min-height: @greenid-min-height;
            border-radius: 0;
            border: @greenid-option-border-width @greenid-option-border-colour solid;

            .fc-content-content {
              padding: @greenid-package-content-padding;
            }
          }

          .fc-content-desc {
            margin: @greenid-option-content-margin;
          }

          .fc-content-title {
            padding: @greenid-content-title-padding;
            margin-bottom: @greenid-field-spacing;
            font-weight: normal;
            border-bottom: @greenid-option-border-width solid @greenid-option-border-colour;
          }

          // Style the select buttons
          .fc-option-buttons {
            .fc-button {
              width: 100%;
            }
          }

          // Green Id specific stylings
          .fc-greenid-verification-packages {
            margin-top: 30px;

            .progress {
              margin: 20px 0 30px 0;

              .progress-bar-success {
                background: @success-background-color
              }
            }

            // Verified columns
            .fc-verified {
              border: 1px @greenid-success-border-color solid;

              .fc-successfully-verified {
                color: @success-background-color;
                padding: @greenid-verify-success-padding;
                display: block;
                text-align: center;
              }

              .fc-content-title {
                color: @greenid-verify-success-title-color;
                background: @success-background-color;
              }
            }
          }

          // Green ID header summary
          .fc-green-id-header-summary {
            margin-bottom: @greenid-header-summary-margin-bottom;
            background: @greenid-header-summary-background-colour;
            border-radius: @greenid-header-summary-border-radius;
            padding: @greenid-header-summary-padding;

            p {
              margin-bottom: 0;
            }
          }

          .fc-greenid-options {
            background: @greenid-options-background-colour;
            padding: @greenid-options-padding;
            border-radius: @greenid-options-border-radius;

            .fc-header {
              margin-bottom: @greenid-heading-margin-bottom;
            }

            & > p {
              margin-bottom: @greenid-paragraph-margin-bottom;
            }

            .fc-green-field {
              width: 48.75%;
              margin-top: @greenid-field-spacing;
              margin-bottom: @greenid-field-spacing;
              margin-right: 0;
            }

            .fc-green-field:nth-child(odd) {
              margin-right: 2.5% !important;
            }

            .tos {
              width: 100%;
              margin: @greenid-tos-margin;

              & > input[type="checkbox"] {
                margin-top: 0;
              }
            }

            .fc-passport {
              .passport-number {
                width: 100%;
              }
            }
          }
        }

        // Block
        .fc-block {
          label {
            min-width: 90%;
          }
        }

        /* Field input types */
        input.fc-fieldinput {
          &[type="text"] {
            border: 1px solid @input-border-color;
            border-radius: @input-text-border-radius;
            padding: @input-text-padding;
            height: auto;

            &::-webkit-input-placeholder,
            &:-moz-placeholder,
            &::-moz-placeholder,
            &:-ms-input-placeholder,
            &[placeholder] {
              font-style: italic;
            }

            &:focus {
              border-color: @input-focus-border-color;
            }
          }
          /* Styled radio buttons */
          &[type="radio"] {
            display: none;

            + label {
              span, em {
                float: left;
              }

              span:first-child {
                border-color: #fff;
                padding: 3px;
                display: inline-block;
                width: @radio-size;
                height: @radio-size;
                background: #fff;
                border-radius: @radio-border-radius;
                border: 1px solid @radio-border-color;
                cursor: pointer;
                transition: border-color ease-in-out .15s;

                i {
                  opacity: 0;
                  background-color: @success-background-color;
                  display: block;
                  width: @radio-checked-inner-size;
                  height: @radio-checked-inner-size;
                  border-radius: @radio-checked-inner-border-radius;
                  transition: opacity ease-in-out .15s;
                }
              }

              em {
                font-style: normal;
                line-height: @radio-size;
                margin-left: @radio-label-margin-left;
                cursor: pointer;
              }
            }

            &:checked {
              + label span {
                border-color: @success-background-color;

                i {
                  opacity: 1;
                }
              }
            }
          }

          /* Checkbox specific styling */
          &[type="checkbox"] {
            display: none;

            + label {
              span:first-child, em {
                float: left;
              }

              span:first-child {
                border-color: #fff;
                padding: 3px;
                display: inline-block;
                width: @radio-size;
                height: @radio-size;
                background: #fff;
                border-radius: 0;
                border: 1px solid @radio-border-color;
                cursor: pointer;
                transition: border-color ease-in-out .15s;

                b {
                  opacity: 0;
                  transition: opacity ease-in-out .15s;
                  display: inline-block;
                  width: 20px;
                  height: 20px;
                  -ms-transform: rotate(45deg); /* IE 9 */
                  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
                  transform: rotate(45deg);
                }

                i {
                  display: block;
                }
              }

              em {
                font-style: normal;
                line-height: @radio-size;
                margin-left: @radio-label-margin-left;
                cursor: pointer;
              }
            }

            /* Checked checkboxes */
            &:checked {
              + label span {

                border-color: @success-background-color;

                b {
                  opacity: 1;
                }

                /* Success tick */
                i {
                  opacity: 1;
                  background-color: @success-background-color;
                  position: absolute;

                  &:first-child {
                    width: 3px;
                    height: 9px;
                    left: 3px;
                    top: 4px;
                  }

                  &:last-child {
                    width: 3px;
                    height: 3px;
                    left: 0;
                    top: 10px;
                  }
                }
              }
            }
          }
        }

        /* Select boxes */
        select {
          border: 1px solid @input-border-color;
          border-radius: @input-text-border-radius;
          padding: @input-select-padding;
          height: auto;
        }

        .fc-fieldgroup {
          padding: @section-fieldgroup-padding;

          /* Success and error box */
          .fc-success-box,
          .fc-error-box {
            display: block;
            width: 0;
            height: 0;
            overflow: hidden;
            transition: width ease-in-out .15s, height ease-in-out .15s, right ease-in-out .15s;
            margin: auto;
            top: 0;
            bottom: 0;
            right: 0;
            position: absolute;
          }
        }

        /* Fields that have been successfully validated */
        &.fc-field-success {
          input.fc-fieldinput,
          select {
            border: 1px solid @success-background-color;
          }

          .fc-fieldgroup {
            .fc-field-element-container {
              position: relative;

              /* Success tick */
              .fc-success-box {
                width: @success-circle-size;
                height: @success-circle-size;
                right: @success-circle-right * 1px;
                border-radius: @success-circle-border-radius * 1px;
                background: @success-background-color url(images/success-tick.png) center center no-repeat;
              }
            }
          }
        }

        &.fc-error {
          input.fc-fieldinput,
          select.fc-fieldinput {
            border: 1px solid @error-background-color;
          }

          .fc-fieldgroup {
            .fc-field-element-container {
              position: relative;

              /* Error tick */
              .fc-error-box {
                background: @error-background-color url(images/error-cross.png) center center no-repeat;
                width: @error-circle-size;
                height: @error-circle-size;
                right: @error-circle-right * 1px;
                border-radius: @error-circle-border-radius * 1px;
              }
            }
          }
        }

        /* Repeatable styles */
        .fc-repeatable {
          &.fc-repeatable-in-dom {
            .fc-repeatable-rows {
              margin: @repeatable-rows-margin;
            }

            .fc-link {
              a {
                border: @section-border;
                padding: @section-padding;
                border-radius: 0;
                display: block;
                padding-top: 0;
                padding-bottom: 0;
                text-align: left;
                margin: @repeatable-rows-button-margin;

                &:hover {
                  background: @repeatable-rows-button-hover-background-color;
                  border-color: @repeatable-rows-button-hover-border-color;
                }
              }
            }
          }
        }

        // Repeatable iterators
        &.fc-field-repeatableIterator {
          .fc-fieldgroup {
            padding-bottom: 0;
          }
        }
      }
    }

    /* Pagination */
    .fc-pagination {
      /* Submit application button */
      .fc-submit {
        input[type="submit"] {
          background: @success-background-color;
          color: @pagination-button-text-color;
          padding: @pagination-button-padding;
          text-transform: uppercase;
          border-radius: 0;
          min-width: @pagination-button-min-width;
        }
      }

      /* Previous page button */
      .fc-prev-page {
        display: none;
      }
    }
  }

  .fc-button, a.fc-btn {
    background: @button-background-color;
    border: @button-border;
    border-radius: @button-border-radius;
    width: @button-width;
    margin: @button-margin;

    &.checked {
      background-color: @success-background-color;
      text-shadow: none;
      color: @button-success-font-color;
      border-color: @button-success-border-color;
    }
  }

  a.fc-btn {
    width: auto;
    padding: @link-button-padding;
    color: @link-button-color;

    &:hover {
      text-decoration: none;
    }
  }

  /* Auto suggest widget */
  .fc-auto-suggest {
    background: @auto-suggest-background;
  }

  /* Tables */
  .fc-table {
    th, td {
      padding: @table-cell-padding;
    }

    &.fc-summary {
      margin: @table-summary-margin;
    }
  }

  /* Credit card field */
  .fc-payment {
    > div {
      margin-right: 1%;
      margin-bottom: 15px;
    }
  }

  // Modal
  .fc-modal {
    &:before {
      opacity: @modal-opacity;
    }

    .modal-dialog {
      background: @modal-background-color;
      border-radius: @modal-border-radius;
      width: @modal-width-desktop;
      margin-left: @modal-margin-left;

      .modal-header {
        background: @success-background-color;
        color: @success-font-color;
        padding: @modal-header-padding;

        h2 {
          margin: 0;
        }
      }

      .modal-body {
        padding: @modal-border-padding;
      }

      .modal-footer {
        padding: @modal-border-padding;

        .btn {
          display: inline-block;
          padding: @modal-footer-button-padding;
          background: @success-background-color;
          color: @button-success-font-color;
          border-radius: @button-border-radius;
          border: medium none;

          &.btn-danger {
            background: @error-background-color;
            color: @error-font-color;
          }
        }
      }
    }
  }

  // Phone queries
  @media only screen and (max-width: 699px) {
    .fc-button,
    .fc-field,
    .fc-page .fc-pagination .fc-submit input[type="submit"],
    .fc-field-contentRadioList .fc-col,
    .fc-field-greenIdVerification .fc-col,
    .fc-green-field {
      width: 100% !important;
      min-width: 0 !important;
    }

    .fc-page {
      .fc-pagination {
        .fc-submit {
          width: 100% !important;
        }
      }
    }
  }
}

#loading-bar-top {
  height: 3px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 101;

  .bar {
    background: #33B1F1;
    height: 100%;
  }
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg); /* IE 9 */
    transform: rotate(0deg); /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    -webkit-transform: rotate(360deg); /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg); /* IE 9 */
    transform: rotate(360deg); /* Firefox 16+, IE 10+, Opera */
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg); /* IE 9 */
    transform: rotate(0deg); /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    -webkit-transform: rotate(360deg); /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg); /* IE 9 */
    transform: rotate(360deg); /* Firefox 16+, IE 10+, Opera */
  }
}

.loader-container {
  opacity: 1;
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  -ms-transition: all 1s ease-out;
  transition: all 1s ease-out;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  #loader-content {
    padding-top: 100px;

    #loader-wrapper {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1000;

      #loader {
        display: block;
        position: relative;
        left: 50%;
        top: 45%;
        width: 150px;
        height: 150px;
        margin: -75px 0 0 -75px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #3498db;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
        z-index: 1001;

        &:before {
          content: "";
          position: absolute;
          top: 5px;
          left: 5px;
          right: 5px;
          bottom: 5px;
          border-radius: 50%;
          border: 3px solid transparent;
          border-top-color: #e74c3c;

          -webkit-animation: spin 3s linear infinite;
          animation: spin 3s linear infinite;
        }

        &:after {
          content: "";
          position: absolute;
          top: 15px;
          left: 15px;
          right: 15px;
          bottom: 15px;
          border-radius: 50%;
          border: 3px solid transparent;
          border-top-color: #f9c922;

          -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
          animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
        }
      }

      .loader-section {
        position: fixed;
        top: 0;
        width: 51%;
        height: 100%;
        z-index: 10;
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);

        &.section-left {
          left: 0;
        }

        &.section-right {
          right: 0;
        }
      }
    }
  }
}