@font-family: 'Open Sans', sans-serif;

/* Features */
@show-stage-title: false;
@show-page-title: false;
@show-section-border: true;

/* Colors */
@section-border-color: #96989b;
@section-title-border-color: #c8cbd4;
@success-background-color: #48ab6c;
@input-border-color: #a9afb7;
@field-help-color: #96989b;

/* Sections */
@section-border: 1px solid @section-border-color;
@section-padding: 25px 35px;
@section-margin: 50px 0;
@section-title-font-size: 18pt;
@section-title-font-bold: false;
@section-title-border-bottom: 1px solid @section-title-border-color;
@section-desc-margin: 15px 0 0 0;

/* Fields */
@field-margin: 20px 0;
@field-rich-text-margin: 0 0 -15px 0;
@field-label-padding: 0 0 15px 0;
@field-help-link-color: @field-help-color;

/* Field radio buttons */
@radio-border-color: @section-title-border-color;
@radio-border-radius: 9px;
@radio-size: 19px;
@radio-checked-inner-size: 11px;
@radio-checked-inner-border-radius: 6px;
@radio-label-margin-left: 10px;

/* Field text inputs */
@input-text-border-radius: 0;
@input-text-padding: 12px 20px;

/* Buttons */
@button-background-color: #eeeef2;
@button-border: 1px solid #a9afb7;
@button-width: 45%;
@button-margin: 0 25px 25px 0;
@button-border-radius: 0;
@button-success-font-color: #fff;
@button-success-border-color: #068032;